<div class="sidebar">
  <div class="desktop container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    {% include pages.html %}
    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
  <div class="mobile container">
      <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Top Navigation Menu -->
      <div class="hamburger">
        <div class="hamburger-header">
          <div class="sidebar-about">
            <a href="{{ site.baseurl }}">
              {{ site.title }}
            </a>
          </div>
          <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
          <a href="javascript:void(0);" class="icon" onclick="hamburgerToggle()">
            <i class="fa fa-bars"></i>
          </a>
      </div>

        <!-- Navigation Content -->
        <div class="hamburger-content">
          {% include pages.html %}
        </div>
      </div>
  </div>
</div>
